@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  --primary-color: #00986f;
  --background-color: #1d2026;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  user-select: none;
  transition: all 300ms ease;
}

body {
  color: #fff;
  overflow-x: hidden;
}

html {
  background: var(--background-color);
  min-height: 100vh;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
}

p {
  font-size: 1.25rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

/* a:hover {
  text-decoration: 2px underline white;
} */

span {
  color: var(--primary-color);
}

button {
  background-color: transparent;
  border: none;
  left: 0%;
}

.card {
  padding: 2rem 2rem;
  background-color: var(--background-color);
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  margin: 0 10px;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.name-green {
  color: var(--primary-color);
}

.green {
  background-color: var(--primary-color);
}

.name {
  animation: slideInFromLeft 1s ease;
}
/* Light theme */
.theme * {
  color: #333;
}

.theme {
  background-color: #fff;
}

.theme .card {
  background-color: #fff;
}

.theme #header .nav-bar .brand h1 span {
  color: var(--primary-color);
}

.theme #header .nav-bar .brand h1 a {
  color: var(--primary-color);
}

/* .theme #header .nav-bar .brand h1 span {
  color: var(--primary-color);
} */

.theme #header .header .nav-bar .brand button img {
  background-color: var(--primary-color);
}

.theme #header .nav-list ul {
  background-color: white;
}

.theme #hero .h1s span {
  color: var(--primary-color);
}

.theme #hero .cta-container a:hover {
  color: white;
}

.theme #contact form .card {
  background-color: var(--primary-color);
}

.theme #contact .form .card h1 {
  background-color: var(--primary-color);
}

.theme #contact .form .form-item {
  background-color: var(--primary-color);
}

.theme #footer .footer .row-top {
  background-color: var(--primary-color);
}

.theme #footer .footer .row-top a {
  background-color: var(--primary-color);
  color: #fff;
}

.theme #footer .footer .row-top li {
  background-color: var(--primary-color);
}

.theme #footer .footer .row-bottom a {
  background-color: var(--primary-color);
  color: #fff;
}

.theme #footer .footer .row-bottom .social-icons a {
  background-color: var(--primary-color);
}

.theme #footer .footer .row-bottom li {
  background-color: var(--primary-color);
}

.theme #footer .social-icons .icon {
  background-color: var(--primary-color);
}

.theme #footer .social-icons .icon a {
  background-color: var(--primary-color);
}
/* End Light theme  */

/* Header */
#header .nav-bar .name a {
  text-transform: none;
}
#header .nav-bar button {
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: var(--primary-color) solid 2px;
  cursor: pointer;
}

#header .nav-bar .brand h1 {
  padding: 10px 20px;
  cursor: pointer;
}

#header .nav-list a {
  position: relative;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 10px;
}

#header .nav-list ul {
  position: absolute;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: all 0.5s ease;
}

#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  display: block;
  padding: 2rem;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: var(--primary-color);
  font-size: 3.5rem;
  letter-spacing: 20px;
  z-index: -1;
  transition: 0.2s ease;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
}

#header .hamburger {
  margin: 1rem 2.3rem;
  z-index: 100;
  height: 60px;
  width: 60px;
  border: 3px #00986f solid;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#header .hamburger::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  animation: hamburger_pulse 1.5s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: var(--primary-color);
  z-index: -1;
}

#header .hamburger .bar::before,
#header .hamburger .bar::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: var(--primary-color);
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}
/* End Header */

/* Hero */
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero .introduction {
  margin-bottom: 18rem;
  animation: slideInFromLeft 1s ease;
  left: 0;
}

#hero .introduction h1 {
  letter-spacing: 0.22rem;
  line-height: 3rem;
  font-size: 2.5rem;
}

#hero .introduction .cta-container {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

#hero .introduction .cta {
  border: 3px solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  transition: background-color 0.2s ease-in;
}

#hero .introduction .cta:hover {
  background-color: var(--primary-color);
}
/* End Hero */
/* Projects */
#projects .projects {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: center;
  display: block;
}

#projects .projects .projects-header h1 {
  text-align: center;
  margin: 2rem;
  font-size: 2rem;
  font-weight: 400;
}

#projects .image-container {
  max-width: 400px;
  padding: 2rem;
}

#projects .image-container img {
  width: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#projects .image-container .card {
  position: relative;
  z-index: 1;
}

/* #projects .image-container .card::after {
  content: "";
  width: 100%;
  height: 250px;
  background-color: var(--background-color);
  opacity: 0.9;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
} */

#projects .image-container img:hover {
  scale: 1.1;
}
/* End Projects */

/* About */
#about .about-info {
  margin-top: 6.5rem;
}

#about .about-info h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

#about .about-info p {
  text-align: center;
  padding: 2rem;
  line-height: 2.2rem;
  font-weight: 300;
}

#about .about-info-image {
  max-width: 400px;
  padding: 2rem;
}

#about .about-info-image img {
  width: 100%;
  display: flex;
  margin-left: 2.5rem;
  padding: 1.5rem;
  border-radius: 50%;
  background-color: transparent;
}

#about .languages .languages-header {
  padding: 2rem;
}

#about .languages .image-container img {
  max-width: 250px;
  width: 100%;
}

#about .languages .image-container .languages-card {
  transition: all 0.3s ease;
  padding: 0 0;
  margin-left: 7.5rem;
  max-width: 250px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#about .theme .languages-card {
  background-color: white;
}

#about .languages .image-container .languages-card {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
}

#about .languages .image-container .languages-card:hover {
  scale: 1.05;
}
/* End About */

/* Contact */
#contact .form {
  text-align: center;
}

#contact form .card {
  padding: 3.7rem;
  position: relative;
}

#contact form .card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.15);
  transform: rotate(-6deg);
  border-radius: 10px;
  z-index: -1;
  opacity: 0.4;
}

#contact h1 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 2rem;
}

#contact .form input {
  font-size: 1rem;
  padding: 1.1rem 2.7rem;
  margin: 0.9rem;
  border-radius: 1.5rem;
  cursor: pointer;
  border-color: var(--primary-color);
  border: 2px solid #fff;
  transition: all 0.3s;
}

#contact .form input:hover {
  scale: 1.025;
}

#contact .form .form-item input[type="text"]:nth-child(3) {
  padding: 2rem;
}

#contact .form button[type="submit"] {
  font-size: 1rem;
  padding: 1rem 1.8rem;
  margin: 0.9rem;
  border-radius: 2rem;
  color: var(--background-color);
  cursor: pointer;
  border: 2px solid #fff;
  background-color: #fff;
  transition: all 0.3s;
}

#contact .form button[type="submit"]:hover {
  scale: 1.05;
}

#contact .form input::placeholder,
button[type="submit"]::placeholder {
  color: var(--background-color);
  font-weight: 500;
  font-size: 1.1rem;
  text-align: left;
}
/* End Contact */

/* Footer */
#footer .footer {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--primary-color);
}

#footer .footer .row-top {
  text-align: center;
  padding: 1.8rem;
}

#footer .footer .row-top ul li {
  padding: 0.5rem;
  font-weight: 500;
}

#footer .footer .row-bottom ul li {
  padding: 0.5rem;
}

/* anchor tag underline effect */
#footer a::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}
#footer a:hover::after {
  width: 100%;
}
/* ------------------------------ */
#footer .social-icons {
  display: flex;
}

#footer .social-icons .icon {
  padding: 1rem;
}

#footer .social-icons .icon a:hover::after {
  width: 0;
}

#footer .social-icons .icon img {
  background-color: #fff;
  border-radius: 50%;
  padding: 0.5rem;
  transition: all 0.3s;
}

#footer .social-icons .icon img:hover {
  scale: 1.1;
}
/* End Footer */

/* Media Query for Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul a::after {
    display: none;
  }

  #header .header {
    background-color: transparent;
  }

  #header .nav-list a::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
  }
  #header a:hover::after {
    width: 100%;
  }
}

/* Keyframes */
@keyframes hamburger_pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translatex(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}
